<div class="container">
<div class="jumbotron">
<h3><%= @catalog.name.capitalize %></h3>
<p><div class="well">
	<strong>Price : Rs.  </strong> <%= @catalog.price %>/-</br>
</div>
</p>
</div>
<%= link_to '<button type="button" class="btn btn-primary">Upadte</button>'.html_safe, edit_catalog_path %>
<%= link_to '<button type="button" class="btn btn-danger" >Delete</button>'.html_safe, catalog_path , method: :delete , :onclick => "alert('Item successfully deleted..!')" %>
</div>