<body class="home-page">
	<div class="opacity-for-backgroud">
	<div class="centered">
		<h1 style= "opacity: 1%" > Welcome To Foodie </h1>
	</div>
	<div class="centered1">
		<h3 style= "opacity: 1%"> Eat health, Live healthy..!</h3> 
	</div>
</div>
</body>