<div class="page_content">
	<div class="header"><h2>List Of Customers</h2></div>
	<div class="container">
		<div class="table-responsive">     
	  	 <table class="table table-hover">
	    	<thead>
	      		<tr>
	      			<th>ID</th>
		        	<th>Name</th>
		        </tr>
	    	</thead>
	   		<% @customers.each do |c| %>
		    <tbody>
		    	<tr>
		    		<td><%= c.id %></td>
		    		<td><%= link_to c.name.capitalize, {:action =>'show' ,:id => c.id} %></td>
			    </tr> 
			 </tbody>
		    <% end %>
		 </table>
		</div>
	</div>
	<div class="container">
		<%= link_to '<button type="button" class="btn btn-primary">Add</button>'.html_safe, new_customer_path %>
	</br>
	<%= will_paginate %> 
	</div>
</div>
</div>